<div class="post">
  <span class="post_date"><%= Date.parse(post.created_at.to_s).to_s %></span>
  <h3 class="post_title"><%= link_to  post.title, post_path(post.key) %></h3>
  <div class="post_body">
    <%= raw(post.body) -%>
  </div>
  <br />
  <div class="author">By: <%= post.author %></div>
  <% if AppEngine::Users.logged_in? && AppEngine::Users.admin? %>
  	<div class="controls">
    	<%= link_to 'update', edit_post_path(post)%> <br />
		<%= link_to 'delete', post_path(post), :confirm => 'Are you sure?', :method => :delete %>
  	</div>
  <% end -%>
  <br/><br/>
</div>
